Repository NoSkillGuy/sacred-vows: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd apps/builder && eslint --fix, cd apps/edge-worker && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

.lintstagedrc.json:

{
  "apps/builder/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "cd apps/builder && eslint --fix"
  ],
  "apps/edge-worker/**/*.ts": [
    "prettier --write",
    "cd apps/edge-worker && eslint --fix"
  ],
  "apps/api-go/**/*.go": [
    "cd apps/api-go && go fmt",
    "cd apps/api-go && go vet"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

refactor(auth): use functional state updates in form handlers
  apps/builder/src/components/Auth/LoginPage.tsx
  apps/builder/src/components/Auth/SignupPage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

test(preview): add comprehensive test suite for PreviewPane component
  apps/builder/src/components/Preview/__tests__/PreviewPane.test.tsx
Due: prettier --write, cd apps/builder && eslint --fix

refactor(commands): update fix-pr and review-pr to use GitHub MCP tools
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

fix(test): address review comments for PreviewPane tests
  apps/builder/package-lock.json
  apps/builder/src/components/Preview/PreviewPane.css
  apps/builder/src/components/Preview/PreviewPane.tsx
  apps/builder/src/components/Preview/__tests__/PreviewPane.test.tsx
Due: prettier --write, cd apps/builder && eslint --fix

docs(cursor): add branch validation and remove gh CLI dependencies
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

feat(builder): implement comprehensive anti-piracy protection for layouts
  apps/builder/src/components/Legal/CopyrightFooter.tsx
  apps/builder/src/components/Legal/LegalWarningModal.tsx
  apps/builder/src/layouts/classic-scroll/export/index.ts
  apps/builder/src/layouts/classic-scroll/export/styles.ts
  apps/builder/src/layouts/classic-scroll/export/template.ts
  apps/builder/src/layouts/editorial-elegance/export/index.ts
  apps/builder/src/layouts/editorial-elegance/export/styles.ts
  apps/builder/src/layouts/editorial-elegance/export/template.ts
  apps/builder/src/lib/console-protection.ts
  apps/builder/src/lib/devtools-detection.ts
  apps/builder/src/lib/integrity-checks.ts
  apps/builder/src/lib/legal-warnings.ts
  apps/builder/src/lib/protection-bundle.ts
  apps/builder/src/lib/right-click-protection.ts
  apps/builder/src/lib/watermarking.ts
  apps/builder/src/services/exportService.ts
  apps/builder/src/template-engine/src/renderPublishedHTML.ts
  apps/builder/vite.config.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(publish): extract layoutConfig for both layouts in publish flow
  apps/api-go/internal/infrastructure/publish/node_renderer.go
  apps/builder/src/template-engine/src/renderPublishedHTML.ts
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

feat(export): update export templates to match builder preview
  apps/builder/src/layouts/classic-scroll/export/styles.ts
  apps/builder/src/layouts/classic-scroll/export/template.ts
  apps/builder/src/layouts/editorial-elegance/export/styles.ts
  apps/builder/src/layouts/editorial-elegance/export/template.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(docs): fix syntax error and address MCP limitation in fix-pr command
  .cursor/commands/fix-pr.md
Due: prettier --write

docs: update MCP limitation note to be less definitive
  .cursor/commands/fix-pr.md
Due: prettier --write

docs: add MCP functionality notes to review-pr command
  .cursor/commands/review-pr.md
Due: prettier --write

docs: remove all negative statements about MCP capabilities
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

fix(ci): sync with main, fix linting warnings, and generate swagger docs
  apps/builder/src/components/Preview/__tests__/PreviewPane.test.tsx
  apps/builder/src/lib/integrity-checks.ts
  apps/edge-worker/package-lock.json
Due: prettier --write, cd apps/builder && eslint --fix

fix(pr): address review comments for anti-piracy protection
  apps/builder/src/components/Legal/LegalWarningModal.tsx
  apps/builder/src/layouts/editorial-elegance/export/template.ts
  apps/builder/src/lib/integrity-checks.ts
  apps/builder/src/lib/protection-bundle.ts
Due: prettier --write, cd apps/builder && eslint --fix

feat(builder): enhance anti-piracy protection with attempt tracking and production-only mode
  apps/builder/src/lib/devtools-detection.ts
  apps/builder/src/lib/legal-warnings.ts
  apps/builder/src/lib/right-click-protection.ts
  apps/builder/src/main.tsx
Due: prettier --write, cd apps/builder && eslint --fix

docs(cursor): add layout component consistency checks to review-pr command
  .cursor/commands/review-pr.md
  apps/builder/package.json
  apps/builder/pnpm-lock.yaml
Due: prettier --write

fix(security): address PR review comments - security and code quality fixes
  apps/api-go/internal/infrastructure/publish/node_renderer.go
  apps/api-go/internal/interfaces/http/handlers/invitation_handler.go
  apps/renderer/src/InvitationPage.tsx
  apps/renderer/src/entry-server.tsx
  apps/renderer/src/render.ts
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(security): add stdin size limit and layout fallback handling
  apps/renderer/src/InvitationPage.tsx
  apps/renderer/src/render.ts
Due: none

fix(pr): address all review comments - security and code quality fixes
  apps/renderer/package.json
  apps/renderer/src/InvitationPage.tsx
  apps/renderer/src/entry-client.tsx
  apps/renderer/src/entry-server.tsx
  apps/renderer/src/render.ts
  apps/renderer/src/stub-ToastProvider.tsx
  apps/renderer/src/stub-assetService.ts
  apps/renderer/src/stub-builderStore.ts
  apps/renderer/tsconfig.json
  apps/renderer/vite.client.config.ts
  apps/renderer/vite.config.ts
  apps/shared/package.json
  apps/shared/src/index.ts
  apps/shared/src/layouts/classic-scroll/components/editable/EditableFathersLetterSection.tsx
  apps/shared/src/layouts/classic-scroll/components/editable/EditableGallerySection.tsx
  apps/shared/src/layouts/classic-scroll/components/shared/EditableImage.tsx
  apps/shared/src/layouts/classic-scroll/components/shared/GuestNameModal.tsx
  apps/shared/src/layouts/classic-scroll/components/view/Couple.tsx
  apps/shared/src/layouts/classic-scroll/components/view/FathersLetter.tsx
  apps/shared/src/layouts/classic-scroll/components/view/Gallery.tsx
  apps/shared/src/layouts/classic-scroll/components/view/Hero.tsx
  apps/shared/src/layouts/classic-scroll/export/shared/dataExtractors.ts
  apps/shared/src/layouts/classic-scroll/export/shared/utilities.ts
  apps/shared/src/layouts/classic-scroll/export/template.ts
  apps/shared/src/layouts/editorial-elegance/components/editable/EditableEditorialHero.tsx
  apps/shared/src/layouts/editorial-elegance/components/editable/EditableEditorialIntro.tsx
  apps/shared/src/layouts/editorial-elegance/export/shared/utilities.ts
  apps/shared/src/layouts/editorial-elegance/export/styles.ts
  apps/shared/src/layouts/editorial-elegance/export/template.ts
  apps/shared/src/layouts/index.ts
  apps/shared/src/lib/copyright-footer.ts
  apps/shared/src/lib/devtools-detection.ts
  apps/shared/src/lib/protection-bundle.ts
  apps/shared/src/theme/index.ts
  apps/shared/src/types/index.ts
  apps/shared/src/utils/assetService.ts
  apps/shared/src/utils/index.ts
  apps/shared/src/vite-env.d.ts
  apps/shared/tsconfig.json
Due: prettier --write

test: add comprehensive test coverage for renderer and Go integration
  apps/api-go/internal/infrastructure/publish/node_renderer_test.go
  apps/renderer/package.json
  apps/renderer/src/InvitationPage.tsx
  apps/renderer/src/__tests__/InvitationPage.test.tsx
  apps/renderer/src/__tests__/entry-server.test.ts
  apps/renderer/src/__tests__/ssrf-protection.test.ts
  apps/renderer/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix: format code with Prettier
  apps/api-go/internal/infrastructure/publish/node_renderer_test.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

fix: format InvitationPage.tsx with Prettier
  apps/renderer/src/InvitationPage.tsx
Due: none

chore: update pnpm-lock.yaml to sync with renderer package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve import errors and manifest.json serving issues
  apps/builder/src/lib/observability.ts
  apps/builder/src/services/defaultAssetService.ts
  apps/builder/vite.config.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix: replace undefined actualLayoutId with layoutId in InvitationPage
  apps/renderer/src/InvitationPage.tsx
Due: none

docs: improve PR comment handling in cursor commands
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

fix: enable Ctrl+A/Cmd+A and Delete in password field
  apps/builder/src/components/Auth/AuthPage.css
  apps/builder/src/components/Auth/LoginPage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

feat: make logo navigation conditional based on authentication status
  apps/builder/src/components/Dashboard/Dashboard.tsx
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
  apps/builder/src/components/Pages/PageLayout.tsx
  apps/builder/src/components/Profile/ProfilePage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

test: add logo navigation tests for PageLayout and Dashboard
  apps/builder/src/components/Dashboard/Dashboard.test.tsx
  apps/builder/src/components/Pages/PageLayout.test.tsx
Due: prettier --write, cd apps/builder && eslint --fix

fix: ensure text selection works correctly for typing after select all
  apps/builder/src/components/Auth/LoginPage.test.tsx
  apps/builder/src/components/Auth/LoginPage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

feat: Add authenticated UI on landing page and countdown redirect on login
  apps/builder/src/components/Auth/CountdownBanner.css
  apps/builder/src/components/Auth/CountdownBanner.tsx
  apps/builder/src/components/Auth/LoginPage.tsx
  apps/builder/src/components/Auth/SignupPage.tsx
  apps/builder/src/components/Landing/HeroSection.tsx
  apps/builder/src/components/Landing/LandingPage.css
  apps/builder/src/components/Landing/LandingPage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

fix: await logout before navigation to prevent race condition
  apps/builder/src/components/Dashboard/Dashboard.tsx
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
  apps/builder/src/components/Profile/ProfilePage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

fix: align profile link in user dropdown menu
  apps/builder/src/components/Dashboard/Dashboard.css
  apps/builder/src/components/Landing/LandingPage.css
Due: none

test: Add test section for inline comment testing
  README.md
Due: prettier --write

docs: update fix-pr and review-pr commands with gh api for replying to inline comments
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

docs: add instructions for resolving review comment threads using GraphQL
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

docs: add instructions for unresolving review comment threads
  .cursor/commands/review-pr.md
Due: prettier --write

docs: add unresolve instructions to fix-pr.md
  .cursor/commands/fix-pr.md
Due: prettier --write

fix(pr): address PR #86 review feedback
  apps/builder/src/components/Auth/CountdownBanner.test.tsx
  apps/builder/src/components/Auth/CountdownBanner.tsx
  apps/builder/src/components/Auth/LoginPage.test.tsx
  apps/builder/src/components/Auth/LoginPage.tsx
  apps/builder/src/components/Landing/HeroSection.tsx
  apps/builder/src/components/Landing/__tests__/HeroSection.test.tsx
  apps/builder/src/components/Pages/PageLayout.tsx
Due: prettier --write, cd apps/builder && eslint --fix
