Repository NoSkillGuy/sacred-vows: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd apps/builder && eslint --fix, cd apps/edge-worker && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

docs(cursor): enhance review-pr with comprehensive testing requirements
  .cursor/commands/review-pr.md
Due: prettier --write

fix(layouts): minimize hero section top margin
  apps/builder/src/layouts/editorial-elegance/export/styles.ts
  apps/builder/src/layouts/editorial-elegance/styles/hero.css
Due: prettier --write, cd apps/builder && eslint --fix

feat(layouts): update editorial elegance defaults with wedding details
  apps/builder/src/layouts/editorial-elegance/defaults.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(layouts): display Google Maps in editorial elegance location section
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableLocation.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Location.tsx
  apps/builder/src/layouts/editorial-elegance/defaults.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(publish): resolve subdomain validation and localhost URL issues
  apps/api-go/Dockerfile.dev
  apps/api-go/cmd/server/main.go
  apps/api-go/internal/interfaces/http/handlers/publish_handler.go
  apps/api-go/internal/interfaces/http/handlers/published_site_resolve_handler.go
  apps/api-go/internal/interfaces/http/router.go
  apps/builder/scripts/init-local-r2.sh
  apps/builder/src/components/Export/ExportModal.tsx
  apps/builder/src/services/publishService.ts
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(security): sanitize user-controlled path in router.go
  apps/api-go/internal/interfaces/http/router.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(pr): address PR #48 review feedback and merge main
  apps/api-go/cmd/server/main.go
  apps/api-go/internal/interfaces/http/handlers/publish_handler.go
  apps/api-go/internal/interfaces/http/router.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

test(pr): add comprehensive tests for PR #48 review suggestions
  apps/api-go/go.mod
  apps/api-go/go.sum
  apps/api-go/internal/interfaces/http/handlers/published_site_resolve_handler_test.go
  apps/api-go/internal/interfaces/http/router_test.go
  apps/builder/src/services/publishService.test.ts
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

style(handlers): fix Go formatting in test files
  apps/api-go/internal/interfaces/http/handlers/published_site_resolve_handler_test.go
  apps/api-go/internal/interfaces/http/router_test.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

docs(deploy): add instructions to disable Cloudflare Pages PR deployments
  docs/infrastructure/deployment/cloudflare-setup.md
  docs/infrastructure/deployment/overview.md
Due: prettier --write

fix(security): resolve all GitHub code scanning alerts
  .github/workflows/deploy.yml
  apps/api-go/internal/infrastructure/auth/google.go
  apps/api-go/internal/infrastructure/auth/oauth_state.go
  apps/api-go/internal/infrastructure/config/config.go
  apps/api-go/internal/infrastructure/publish/artifact_key.go
  apps/api-go/internal/infrastructure/publish/filesystem_artifacts.go
  apps/api-go/internal/infrastructure/publish/subdomain_validation_test.go
  apps/api-go/internal/interfaces/http/handlers/auth_handler.go
Due: prettier --write, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(pr): address review comments and add OAuth state store tests
  apps/api-go/internal/infrastructure/auth/google.go
  apps/api-go/internal/infrastructure/auth/oauth_state_test.go
  apps/api-go/internal/infrastructure/config/config.go
  apps/api-go/internal/infrastructure/publish/subdomain_validation_test.go
  apps/api-go/internal/interfaces/http/handlers/auth_handler.go
  apps/api-go/internal/interfaces/http/handlers/published_site_resolve_handler_test.go
  apps/api-go/internal/interfaces/http/router_test.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

refactor(dashboard): remove new invitation button from header
  apps/builder/src/components/Dashboard/Dashboard.tsx
Due: prettier --write, cd apps/builder && eslint --fix

feat(builder): add 10 new sections to Editorial Elegance layout
  apps/builder/src/components/Preview/PreviewPane.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableContact.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableCountdown.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableDressCode.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEditorialQuote.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableFAQ.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableGuestNotes.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableLoveStory.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableRegistry.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableThingsToDo.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableTravel.tsx
  apps/builder/src/layouts/editorial-elegance/components/index.ts
  apps/builder/src/layouts/editorial-elegance/components/view/Contact.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Countdown.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/DressCode.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/EditorialQuote.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/FAQ.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/GuestNotes.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/LoveStory.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Registry.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/ThingsToDo.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Travel.tsx
  apps/builder/src/layouts/editorial-elegance/defaults.ts
  apps/builder/src/layouts/editorial-elegance/manifest.ts
  apps/builder/src/layouts/editorial-elegance/styles/main.css
  apps/builder/src/store/builderStore.ts
Due: prettier --write, cd apps/builder && eslint --fix

feat(builder): enhance Editorial Elegance layout with interactive event cards and quote improvements
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEditorialQuote.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEventCards.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableLoveStory.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/EditorialQuote.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/EventCards.tsx
  apps/builder/src/layouts/editorial-elegance/defaults.ts
  apps/builder/src/layouts/editorial-elegance/styles/editorial-cards.css
  apps/builder/src/layouts/editorial-elegance/styles/main.css
Due: prettier --write, cd apps/builder && eslint --fix

feat(layouts): separate couple section and add parent details to editorial-elegance
  apps/api-go/internal/infrastructure/database/firestore/migrator.go
  apps/builder/src/layouts/editorial-elegance/README.md
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableCouple.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEditorialHero.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableWeddingParty.tsx
  apps/builder/src/layouts/editorial-elegance/components/index.ts
  apps/builder/src/layouts/editorial-elegance/components/view/Couple.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/EditorialHero.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/WeddingParty.tsx
  apps/builder/src/layouts/editorial-elegance/defaults.ts
  apps/builder/src/layouts/editorial-elegance/manifest.ts
  apps/builder/src/layouts/editorial-elegance/styles/editorial-cards.css
  apps/builder/src/layouts/editorial-elegance/styles/hero.css
  apps/builder/src/layouts/editorial-elegance/styles/main.css
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(pr): address PR feedback, add TypeScript types, tests, and accessibility
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableContact.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableCountdown.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableCouple.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableDressCode.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEditorialQuote.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableFAQ.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableGuestNotes.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableLoveStory.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableRegistry.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableThingsToDo.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableTravel.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/__tests__/EditableFAQ.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableDate.css
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableTime.css
  apps/builder/src/layouts/editorial-elegance/components/view/Contact.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Countdown.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Couple.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/DressCode.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/EditorialQuote.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/FAQ.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/GuestNotes.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/LoveStory.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Registry.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/ThingsToDo.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Travel.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/__tests__/Contact.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/__tests__/Countdown.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/__tests__/Couple.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/__tests__/EditorialQuote.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/__tests__/FAQ.test.tsx
  apps/builder/src/layouts/editorial-elegance/styles/editorial-cards.css
  apps/builder/src/layouts/editorial-elegance/styles/main.css
  package-lock.json
Due: prettier --write, cd apps/builder && eslint --fix

fix(ci): fix linting errors and merge conflicts
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableCountdown.tsx
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableDressCode.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Countdown.tsx
  apps/builder/src/services/publishService.test.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(tests): fix failing test cases in Countdown and EditableFAQ
  apps/builder/src/layouts/editorial-elegance/components/editable/__tests__/EditableFAQ.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/Countdown.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/__tests__/Countdown.test.tsx
Due: prettier --write, cd apps/builder && eslint --fix

feat(builder): add layout presets for invitation flows
  apps/builder/src/components/Dashboard/Dashboard.css
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
  apps/builder/src/config/layout-presets.ts
  apps/builder/src/services/invitationService.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(pr): fix linting warnings in test files
  apps/builder/src/layouts/editorial-elegance/components/editable/__tests__/EditableFAQ.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/view/__tests__/Countdown.test.tsx
Due: prettier --write, cd apps/builder && eslint --fix

feat(layouts): make presets layout-specific
  apps/api-go/internal/infrastructure/database/firestore/migrator.go
  apps/builder/src/components/Dashboard/Dashboard.css
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
  apps/builder/src/config/layout-presets.ts
  apps/builder/src/layouts/editorial-elegance/manifest.ts
  apps/builder/src/shared/src/types/layout.ts
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(dashboard): improve preset modal accessibility and UX compliance
  apps/builder/src/components/Dashboard/Dashboard.css
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
  apps/builder/src/styles/index.css
Due: prettier --write, cd apps/builder && eslint --fix

fix(pr): add missing id attribute to FAQ button for ARIA
  apps/builder/src/layouts/editorial-elegance/components/view/FAQ.tsx
Due: prettier --write, cd apps/builder && eslint --fix

fix(pr): address PR #55 review comments and add comprehensive tests
  apps/api-go/internal/infrastructure/database/firestore/migrator_test.go
  apps/builder/src/components/Dashboard/LayoutGallery.test.tsx
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
  apps/builder/src/components/Preview/PreviewPane.tsx
  apps/builder/src/config/layout-presets.test.ts
  apps/builder/src/config/layout-presets.ts
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(ci): fix Go formatting and resolve duplicate variable declaration
  apps/api-go/internal/infrastructure/database/firestore/migrator.go
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(tests): add theme colors to mock layouts in LayoutGallery tests
  apps/builder/src/components/Dashboard/LayoutGallery.test.tsx
Due: prettier --write, cd apps/builder && eslint --fix

fix(builder): fix PresetModal layout and text visibility issues
  apps/builder/src/components/Toolbar/PresetModal.css
  apps/builder/src/components/Toolbar/PresetModal.tsx
  apps/builder/src/layouts/editorial-elegance/manifest.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(builder): improve section manager reactivity to preset changes
  apps/builder/src/components/Dashboard/LayoutGallery.tsx
  apps/builder/src/components/SectionManager/SectionManager.tsx
  apps/builder/src/config/layout-presets.test.ts
  apps/builder/src/config/layout-presets.ts
  apps/builder/src/store/builderStore.test.ts
  apps/builder/src/store/builderStore.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(ci): resolve linting errors and merge conflicts
  apps/api-go/internal/usecase/layout/get_manifests_test.go
  apps/builder/src/components/Dashboard/LayoutGallery.test.tsx
  apps/builder/src/components/SectionManager/SectionManager.tsx
  apps/builder/src/components/Toolbar/PresetModal.tsx
  apps/builder/src/config/layout-presets.test.ts
Due: prettier --write, cd apps/builder && eslint --fix, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(ci): address PR review feedback and improve code quality
  apps/builder/src/components/SectionManager/SectionManager.tsx
  apps/builder/src/components/Toolbar/PresetModal.tsx
  apps/builder/src/store/builderStore.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(pr): address remaining review comments from PR #56
  apps/builder/src/components/SectionManager/SectionManager.tsx
  apps/builder/src/components/Toolbar/PresetModal.css
  apps/builder/src/components/Toolbar/PresetModal.tsx
  apps/builder/src/layouts/editorial-elegance/styles/main.css
  apps/builder/src/store/builderStore.ts
Due: prettier --write, cd apps/builder && eslint --fix

fix(pr): address review comments from PR #56
  apps/builder/src/components/Toolbar/PresetModal.tsx
  apps/builder/src/config/layout-presets.test.ts
Due: prettier --write, cd apps/builder && eslint --fix

docs(user-flows): add comprehensive user flows documentation
  docs/user-flows.md
  docs/user-flows/README.md
  docs/user-flows/creating-invitation.md
  docs/user-flows/customizing-invitation.md
  docs/user-flows/dashboard.md
  docs/user-flows/flow-summary.md
  docs/user-flows/landing-page.md
  docs/user-flows/layout-browsing.md
  docs/user-flows/password-reset.md
  docs/user-flows/sign-in.md
  docs/user-flows/sign-up.md
  docs/user-flows/view-demo.md
Due: prettier --write

docs: Add screenshots for password validation issues
  docs/testing/screenshots/signup-backend-error.png
  docs/testing/screenshots/signup-form-weak-password.png
Due: none

docs(user-flows): update documentation with actual codebase implementation
  docs/user-flows/README.md
  docs/user-flows/creating-invitation.md
  docs/user-flows/customizing-invitation.md
  docs/user-flows/dashboard.md
  docs/user-flows/flow-summary.md
  docs/user-flows/profile-settings.md
Due: prettier --write

chore(docs): remove testing folder
  docs/testing/screenshots/signup-backend-error.png
  docs/testing/screenshots/signup-form-weak-password.png
Due: none

chore(docs): remove redundant user-flows.md file
  docs/user-flows.md
Due: prettier --write

refactor(components): remove image deletion notice from editable image overlay
  apps/builder/src/layouts/classic-scroll/components/shared/EditableImage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

refactor(preview): remove preview-wrapper for direct WYSIWYG preview
  apps/builder/src/components/Preview/PreviewPane.css
  apps/builder/src/components/Preview/PreviewPane.tsx
  apps/builder/src/layouts/classic-scroll/components/shared/EditableImage.tsx
Due: prettier --write, cd apps/builder && eslint --fix

Path conditions:
  prettier --write: ((any of: apps/builder/**/*.{ts,tsx,js,jsx}) or (any of: apps/edge-worker/**/*.ts)) or (any of: *.{json,md,yml,yaml})
  cd apps/builder && eslint --fix: any of: apps/builder/**/*.{ts,tsx,js,jsx}
  cd apps/edge-worker && eslint --fix: any of: apps/edge-worker/**/*.ts
  cd apps/api-go && go fmt: any of: apps/api-go/**/*.go
  cd apps/api-go && go vet: any of: apps/api-go/**/*.go
