Repository NoSkillGuy/sacred-vows: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --config apps/builder/.eslintrc.json, eslint --fix --config apps/edge-worker/.eslintrc.json, cd apps/api-go && go fmt, cd apps/api-go && go vet

.lintstagedrc.json:

{
  "apps/builder/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix --config apps/builder/.eslintrc.json"
  ],
  "apps/edge-worker/**/*.ts": [
    "prettier --write",
    "eslint --fix --config apps/edge-worker/.eslintrc.json"
  ],
  "apps/api-go/**/*.go": [
    "cd apps/api-go && go fmt",
    "cd apps/api-go && go vet"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix(test): fix timeout in Dashboard navigation test
  .lintstagedrc.json
  apps/builder/src/components/Dashboard/Dashboard.test.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

chore: update pnpm-lock.yaml after merge
  pnpm-lock.yaml
Due: prettier --write

chore: remove root pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(docker): fix OpenTelemetry endpoint and improve Tempo healthcheck
  docker-compose.yml
Due: prettier --write

fix(builder): update OpenTelemetry resource creation API
  apps/builder/src/lib/observability.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(config): resolve OpenTelemetry and Docker configuration issues
  .lintstagedrc.json
  apps/api-go/internal/infrastructure/config/config.go
  apps/api-go/internal/infrastructure/publish/node_renderer.go
  docker-compose.yml
Due: prettier --write, cd apps/api-go && go fmt, cd apps/api-go && go vet

build(deps): standardize on pnpm across monorepo
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
  apps/builder/Dockerfile.dev
  apps/builder/package-lock.json
  apps/builder/package.json
  apps/edge-worker/package-lock.json
  apps/edge-worker/package.json
  apps/edge-worker/pnpm-lock.yaml
  docs/development/pre-commit-hooks.md
  docs/development/testing-strategy.md
  docs/getting-started/prerequisites.md
  docs/infrastructure/deployment/cloudflare-pages-troubleshooting.md
  docs/infrastructure/deployment/cloudflare-setup.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): add missing eslint dependencies and update lockfiles
  apps/builder/eslint.config.mjs
  apps/builder/package.json
  apps/builder/pnpm-lock.yaml
  apps/edge-worker/package.json
  apps/edge-worker/pnpm-lock.yaml
Due: prettier --write

fix(ci): skip pnpm setup for Go tests
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): fix pnpm setup order and configure Node.js cache
  .github/workflows/ci.yml
Due: prettier --write

fix(builder): fix OpenTelemetry Resource import for build
  apps/builder/.node-version
  apps/builder/src/lib/observability.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(ci): add pnpm store cleanup and skip integrity check to fix corruption
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): replace pnpm action-setup with corepack to fix ENOENT error
  .github/workflows/ci.yml
Due: prettier --write

fix(builder): replace resourceFromAttributes with Resource class
  apps/builder/src/lib/observability.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(builder): remove Resource import to fix Cloudflare build
  apps/builder/src/lib/observability.ts
  apps/builder/vite.config.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(observability): resolve Docker networking and Tempo metrics issues
  apps/api-go/cmd/server/main.go
  apps/api-go/internal/infrastructure/config/config.go
  apps/api-go/internal/infrastructure/observability/meter.go
  apps/api-go/internal/infrastructure/observability/shutdown.go
  apps/api-go/internal/infrastructure/observability/tracer.go
  apps/builder/env.example
  docker-compose.yml
  docs/applications/builder/env-setup.md
Due: prettier --write, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(builder): remove double API prefix in auth service requests
  apps/builder/src/services/authService.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

feat(observability): implement business metrics with Prometheus
  apps/api-go/cmd/server/main.go
  apps/api-go/env.example
  apps/api-go/internal/infrastructure/config/config.go
  apps/api-go/internal/infrastructure/observability/active_users_tracker.go
  apps/api-go/internal/infrastructure/observability/business_metrics.go
  apps/api-go/internal/infrastructure/observability/business_metrics_tracker.go
  apps/api-go/internal/infrastructure/observability/meter.go
  apps/api-go/internal/infrastructure/observability/metrics.go
  apps/api-go/internal/usecase/analytics/track_view.go
  apps/api-go/internal/usecase/asset/upload.go
  apps/api-go/internal/usecase/auth/google_oauth.go
  apps/api-go/internal/usecase/auth/login.go
  apps/api-go/internal/usecase/auth/register.go
  apps/api-go/internal/usecase/invitation/create.go
  apps/api-go/internal/usecase/publish/publish.go
  apps/api-go/internal/usecase/rsvp/submit.go
  apps/builder/package.json
  apps/builder/src/lib/metrics.ts
  apps/builder/src/lib/observability.ts
  apps/builder/src/services/analyticsService.ts
  docker-compose.yml
  docker/grafana/provisioning/dashboards/business-metrics.json
  docker/grafana/provisioning/dashboards/dashboards.yml
  docker/otel-collector/config.yaml
  docker/prometheus/prometheus.yml
  docs/grafana/promql-queries.md
  docs/infrastructure/observability/business-metrics.md
  docs/infrastructure/observability/telemetry.md
  package-lock.json
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(builder): add defensive fix for double API prefix in apiRequest
  apps/builder/src/services/apiClient.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(builder): improve defensive fix for double API prefix
  apps/builder/src/services/apiClient.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

test(observability): add comprehensive test coverage for business metrics
  apps/api-go/internal/infrastructure/config/config_test.go
  apps/api-go/internal/infrastructure/observability/active_users_tracker_test.go
  apps/api-go/internal/infrastructure/observability/business_metrics_test.go
  apps/api-go/internal/infrastructure/observability/business_metrics_tracker_test.go
  apps/api-go/internal/infrastructure/observability/integration_test.go
  apps/api-go/internal/infrastructure/observability/test_helpers.go
  apps/api-go/internal/usecase/analytics/track_view_test.go
  apps/api-go/internal/usecase/asset/upload_test.go
  apps/api-go/internal/usecase/auth/google_oauth_test.go
  apps/api-go/internal/usecase/auth/login_test.go
  apps/api-go/internal/usecase/auth/register_test.go
  apps/api-go/internal/usecase/invitation/create_test.go
  apps/api-go/internal/usecase/rsvp/submit_test.go
  apps/builder/src/lib/metrics.test.ts
  apps/builder/src/lib/observability.test.ts
  apps/builder/src/services/analyticsService.test.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(builder): use correct OpenTelemetry metrics SDK package name
  apps/builder/package.json
  apps/builder/src/lib/observability.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(observability): resolve port conflict and update metrics SDK
  apps/builder/package.json
  apps/builder/pnpm-lock.yaml
  docker-compose.yml
Due: prettier --write

feat(observability): add comprehensive Grafana business metrics dashboard
  docker/grafana/provisioning/dashboards/business-metrics.json
Due: prettier --write

fix(infra): resolve duplicate Grafana dashboard provisioning
  docker-compose.yml
  docker/grafana/provisioning/dashboards/business-metrics.json
Due: prettier --write

fix(ci): address linting and test issues
  apps/api-go/internal/infrastructure/observability/active_users_tracker.go
  apps/api-go/internal/infrastructure/observability/active_users_tracker_test.go
  apps/api-go/internal/infrastructure/observability/business_metrics.go
  apps/api-go/internal/infrastructure/observability/business_metrics_test.go
  apps/builder/src/lib/metrics.test.ts
  apps/builder/src/lib/observability.test.ts
  apps/builder/src/services/analyticsService.test.ts
  apps/builder/src/services/analyticsService.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json, cd apps/api-go && go fmt, cd apps/api-go && go vet

test: fix TestStartActiveUsersTracker to properly clean up goroutines
  apps/api-go/cmd/server/main.go
  apps/api-go/internal/infrastructure/observability/active_users_tracker.go
  apps/api-go/internal/infrastructure/observability/active_users_tracker_test.go
  apps/api-go/internal/infrastructure/observability/business_metrics_tracker.go
  apps/api-go/internal/usecase/publish/publish.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(pr): address review comments for PR #39
  apps/api-go/cmd/server/main.go
  apps/api-go/internal/infrastructure/observability/active_users_tracker.go
  apps/api-go/internal/infrastructure/observability/active_users_tracker_test.go
  apps/api-go/internal/infrastructure/observability/business_metrics_tracker.go
  apps/api-go/internal/usecase/invitation/delete.go
  apps/api-go/internal/usecase/invitation/delete_test.go
  apps/builder/src/lib/metrics.ts
  apps/builder/src/lib/observability.ts
  apps/builder/src/main.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json, cd apps/api-go && go fmt, cd apps/api-go && go vet

fix(tests): update observability tests to handle Promise return type
  apps/builder/src/lib/observability.test.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

ci(workflows): remove auto-merge workflow
  .github/workflows/auto-merge.yml
Due: prettier --write

fix(builder): improve profile page desktop layout and styling
  apps/builder/src/components/Profile/ProfilePage.css
  apps/builder/src/components/Profile/ProfilePage.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

feat(commands): add ux-review slash command
  .cursor/commands/ux-review.md
Due: prettier --write

feat(builder): add event management with date/time pickers to editorial-elegance
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEventCards.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableDate.css
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableDate.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableTime.css
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableTime.tsx
  apps/builder/src/layouts/editorial-elegance/styles/editorial-cards.css
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(ci): address PR feedback and review comments
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEventCards.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableDate.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableTime.tsx
  package-lock.json
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

docs(commands): add review comment thread reply and resolution to fix-pr
  .cursor/commands/fix-pr.md
Due: prettier --write

fix(pr): address review comments and add missing tests
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEventCards.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableTime.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/__tests__/EditableDate.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/__tests__/EditableTime.test.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(pr): address TypeScript type issues and performance optimization
  apps/builder/src/layouts/editorial-elegance/components/editable/EditableEventCards.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableDate.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableTime.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/__tests__/EditableDate.test.tsx
  apps/builder/src/layouts/editorial-elegance/components/shared/__tests__/EditableTime.test.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(builder): improve sidebar UX compliance and accessibility
  apps/builder/src/components/BuilderSidebar/BuilderSidebar.css
  apps/builder/src/components/BuilderSidebar/SidebarSection.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

test(builder): add tests for SidebarSection collapse/expand functionality
  apps/builder/src/components/BuilderSidebar/SidebarSection.test.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

chore(builder): remove unused eslint-disable directive
  apps/builder/src/layouts/editorial-elegance/components/shared/EditableTime.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json
