Repository NoSkillGuy/sacred-vows: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --config apps/builder/.eslintrc.json, eslint --fix --config apps/edge-worker/.eslintrc.json, cd apps/api-go && go fmt, cd apps/api-go && go vet

chore: format mailjet service struct fields and remove trailing blank lines
  apps/api-go/internal/infrastructure/email/mailjet.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

docs: reorganize authentication documentation into dedicated folder
  docs/architecture/README.md
  docs/architecture/authentication.md
  docs/architecture/authentication/README.md
  docs/architecture/authentication/forgot-password.md
  docs/architecture/authentication/get-current-user.md
  docs/architecture/authentication/google-oauth-callback.md
  docs/architecture/authentication/google-oauth-initiate.md
  docs/architecture/authentication/google-verify.md
  docs/architecture/authentication/login.md
  docs/architecture/authentication/logout.md
  docs/architecture/authentication/refresh-token.md
  docs/architecture/authentication/register.md
  docs/architecture/authentication/request-password-change-otp.md
  docs/architecture/authentication/reset-password.md
  docs/architecture/authentication/system-design.md
  docs/architecture/authentication/verify-password-change-otp.md
  docs/architecture/password-change-otp.md
Due: prettier --write

feat: add markdown validation to pre-commit hook
  .husky/pre-commit
  docs/architecture/authentication/verify-password-change-otp.md
  package-lock.json
  package.json
  scripts/validate-markdown.js
Due: prettier --write

feat: add TypeScript tests and summary report to pre-commit hook
  .husky/pre-commit
  docs/development/pre-commit-hooks.md
Due: prettier --write

docs: add GitHub community standards files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
Due: prettier --write

ci: add Dependabot configuration for Go and npm dependencies
  .github/dependabot.yml
Due: prettier --write

feat: add HEAD method support to health check endpoint
  apps/api-go/internal/interfaces/http/router.go
Due: cd apps/api-go && go fmt, cd apps/api-go && go vet

feat(ci): add branch protection and CI workflow
  .github/workflows/ci.yml
  docs/development/README.md
  docs/development/branch-protection.md
  scripts/setup-branch-protection.sh
Due: prettier --write

fix(ci): add explicit permissions to workflow jobs
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve format-check and Cloudflare Pages build issues
  .npmrc
  apps/builder/.npmrc
  scripts/validate-markdown.js
Due: none

fix(security): fix CodeQL security vulnerabilities
  apps/builder/public/sw.js
  apps/builder/src/layouts/classic-scroll/components/view/Hero.tsx
  apps/builder/src/store/builderStore.ts
  apps/builder/src/utils/assetUtils.ts
  scripts/validate-markdown.js
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(security): improve HTML escaping in Hero component
  apps/builder/src/layouts/classic-scroll/components/view/Hero.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(ci): downgrade ESLint to v8 and fix lint dependencies
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

fix(lint): fix ESLint errors in builder app
  apps/builder/src/components/AssetManager/ImageGallery.tsx
  apps/builder/src/components/AssetManager/ImageUploader.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(lint): fix remaining ESLint errors in ForgotPasswordPage
  apps/builder/src/components/Auth/ForgotPasswordPage.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

chore: update dependabot reviewer to NoSkillGuy
  .github/dependabot.yml
Due: prettier --write

docs: add comprehensive developer guide
  docs/development/developer-guide.md
Due: prettier --write

fix: resolve all ESLint errors and warnings
  apps/builder/src/components/Auth/ProtectedRoute.tsx
  apps/builder/src/components/BuilderSidebar/BuilderSidebar.tsx
  apps/builder/src/components/Dashboard/Dashboard.tsx
  apps/builder/src/components/Export/ExportModal.tsx
  apps/builder/src/components/Landing/HeroSection.tsx
  apps/builder/src/components/Landing/PersonalizationModal.tsx
  apps/builder/src/components/Pages/Legal/TermsPage.tsx
  apps/builder/src/components/Preview/PreviewPane.tsx
  apps/builder/src/components/SectionManager/SectionManager.tsx
  apps/builder/src/components/Toolbar/ThemeModal.tsx
  apps/builder/src/components/Toolbar/Toolbar.tsx
  apps/builder/src/layouts/classic-scroll/components/index.ts
  apps/builder/src/layouts/classic-scroll/components/shared/EditableText.tsx
  apps/builder/src/layouts/classic-scroll/components/shared/GuestNameModal.tsx
  apps/builder/src/layouts/classic-scroll/components/shared/RSVPModal.tsx
  apps/builder/src/layouts/classic-scroll/components/view/Couple.tsx
  apps/builder/src/layouts/editorial-elegance/export/template.ts
  apps/builder/src/services/apiClient.ts
  apps/builder/src/services/assetService.ts
  apps/builder/src/services/defaultAssetService.ts
  apps/builder/src/services/invitationService.ts
  apps/builder/src/store/builderStore.ts
  apps/builder/src/tests/mocks/handlers.ts
  apps/builder/tests/e2e/global-setup.ts
  apps/builder/tests/e2e/global-teardown.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix: resolve test failures caused by setTimeout in useEffect
  apps/builder/src/components/Dashboard/Dashboard.tsx
  apps/builder/src/components/Dashboard/DeleteInvitationModal.tsx
  apps/builder/src/components/Landing/HeroSection.tsx
  apps/builder/src/components/Landing/PersonalizationModal.tsx
  apps/builder/src/layouts/classic-scroll/components/shared/GuestNameModal.tsx
  apps/builder/src/layouts/classic-scroll/components/shared/RSVPModal.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

ci(workflows): add auto-merge workflow for PRs
  .github/workflows/auto-merge.yml
Due: prettier --write

ci(workflows): add auto-merge workflow for PRs (#29)
  .github/workflows/auto-merge.yml
Due: prettier --write

ci(workflows): improve auto-merge diagnostic logging
  .github/workflows/auto-merge.yml
Due: prettier --write

feat(cursor): add /review-pr command for GitHub PR reviews
  .cursor/commands/review-pr.md
Due: prettier --write

feat(cursor): add /fix-pr command for automated PR fixes
  .cursor/commands/fix-pr.md
Due: prettier --write

feat(cursor): enhance /fix-pr with conflict resolution and test suite
  .cursor/commands/fix-pr.md
Due: prettier --write

refactor(cursor): update /fix-pr to use GitHub MCP server
  .cursor/commands/fix-pr.md
Due: prettier --write

fix(docs): address review comments in PR command documentation
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

chore(cursor): add worktrees configuration file
  .cursor/worktrees.json
Due: prettier --write

fix(ci): update Node.js version to 20.19.0 for vite 7.3.0 and vitest 4.0.16
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  docs/development/testing-strategy.md
  docs/getting-started/prerequisites.md
  docs/infrastructure/deployment/cloudflare-pages-troubleshooting.md
  docs/infrastructure/deployment/cloudflare-setup.md
Due: prettier --write

fix(eslint): migrate to ESLint 9 flat config format
  .lintstagedrc.json
  apps/builder/.eslintrc.json
  apps/builder/eslint.config.mjs
  apps/builder/package-lock.json
  apps/builder/package.json
  apps/edge-worker/.eslintrc.json
  apps/edge-worker/eslint.config.mjs
  apps/edge-worker/package-lock.json
  apps/edge-worker/package.json
  package-lock.json
  package.json
Due: prettier --write

fix(cursor): replace hardcoded repository name with dynamic detection
  .cursor/commands/fix-pr.md
  .cursor/commands/review-pr.md
Due: prettier --write

fix(ci): resolve merge conflicts and fix linting issues
  apps/builder/public/sw.js
  apps/builder/scripts/migrate-assets-to-r2.js
  apps/builder/src/components/Landing/PersonalizationModal.tsx
  apps/builder/src/layouts/classic-scroll/components/shared/GuestNameModal.tsx
  apps/builder/src/layouts/classic-scroll/components/shared/RSVPModal.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(ci): update ESLint commands for flat config compatibility
  apps/builder/package.json
  apps/edge-worker/package.json
Due: prettier --write

fix(ci): fix test timeout and edge-worker dependencies
  apps/builder/src/components/Landing/__tests__/LandingPage.integration.test.tsx
  apps/edge-worker/package-lock.json
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(format): apply Prettier formatting to test file
  apps/builder/src/components/Landing/__tests__/LandingPage.integration.test.tsx
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

fix(builder): update Resource import for OpenTelemetry 2.x compatibility
  apps/builder/src/lib/observability.ts
Due: prettier --write, eslint --fix --config apps/builder/.eslintrc.json

ci: use self-hosted runners for all GitHub Actions workflows
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: apps/builder/**/*.{ts,tsx,js,jsx}) or (any of: apps/edge-worker/**/*.ts)) or (any of: *.{json,md,yml,yaml})
  eslint --fix --config apps/builder/.eslintrc.json: any of: apps/builder/**/*.{ts,tsx,js,jsx}
  eslint --fix --config apps/edge-worker/.eslintrc.json: any of: apps/edge-worker/**/*.ts
  cd apps/api-go && go fmt: any of: apps/api-go/**/*.go
  cd apps/api-go && go vet: any of: apps/api-go/**/*.go
